<!DOCTYPE html>
<html>
  <head>

    <title>{{ title }} - Marie-Pierre Dubé Laboratory</title>

    <script type="text/javascript" src="{{ static_url }}/js/html5shiv.min.js"></script>
    <script type="text/javascript" src="{{ static_url }}/js/require.js"></script>
    <link rel="stylesheet" href="{{ static_url }}/css/styles.css" />

    <!-- Syntax highlighting //-->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.0.0/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.0.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    <meta charset="UTF-8">

  </head>
  <body>
    <header id="header">
      <a href="{{ site_root }}/{{ "fr" if language == "en" else "en" }}/{{ curr_url }}" id="language-button">
        {{ "Français" if language == "en" else "English" }}
      </a>
      <div>
        <img src="{{ static_url }}/img/mp.jpg" alt="Picture of Dr Dubé" />
        <h1>{{ "Marie-Pierre Dubé's Laboratory" if language == "en" else "Laboratoire de Marie-Pierre Dubé" }}</h1>
        {% if language == "en" %}
        <p>Statistical genetics, bioinformatics and pharmacogenomics at the MHI</p>
        {% else %}
        <p>Statistique génétique, bio-informatique et pharmacogénomique à l'ICM</p>
        {% endif %}
      </div>
      <nav>
        <ul>
          {% for nav in navigation %}
          <li><a href="{{ lang_root }}/{{ nav.url }}">{{ nav.title.en if language == "en" else nav.title.fr }}</a></li>
          {% endfor %}
          <li><a href="https://github.com/pgxcentre" target="_blank" id="github">
            <svg width="25" height="25">
              <image xlink:href="{{ static_url }}/img/github_logo.svg"
                src="{{ static_url }}/img/github_logo.png" width="25" height="25" />
            </svg>
          </a></li>
        </ul>
      </nav>
    </header>

    <section id="content">

      {% block content %}
      {{ content|safe }}
      {% endblock %}

    </section>

    <!-- Google analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-81009922-1', 'auto');
      ga('send', 'pageview');
    </script>

  </body>
</html>
