<!DOCTYPE html>
<html>
  <head>

    <title>{{ title }} - Marie-Pierre Dubé Laboratory</title>

    <script type="text/javascript" src="{{ static_url }}/js/html5shiv.min.js"></script>
    <script type="text/javascript" src="{{ static_url }}/js/require.js"></script>
    <link rel="stylesheet" href="{{ static_url }}/css/styles.css" />
    <meta charset="UTF-8">

  </head>
  <body>
    <header id="header">
      <a href="{{ site_root }}/{{ "fr" if language == "en" else "en" }}/{{ curr_url }}" id="language-button">
        {{ "Français" if language == "en" else "English" }}
      </a>
      <div>
        <img src="{{ static_url }}/img/mp.jpg" alt="Picture of Dr Dubé" />
        <h1>{{ "Marie-Pierre Dubé's Laboratory" if language == "en" else "Laboratoire de Marie-Pierre Dubé" }}</h1>
        {% if language == "en" %}
        <p>Statistical genetics, bioinformatics and pharmacogenomics at the MHI</p>
        {% else %}
        <p>Statistique génétique, bio-informatique et pharmacogénomique à l'ICM</p>
        {% endif %}
      </div>
      <nav>
        <ul>
          {% for nav in navigation %}
          <li><a href="{{ lang_root }}/{{ nav.url }}">{{ nav.title.en if language == "en" else nav.title.fr }}</a></li>
          {% endfor %}
          <li><a href="https://github.com/pgxcentre" target="_blank" id="github">
            <svg width="25" height="25">
              <image xlink:href="{{ static_url }}/img/github_logo.svg"
                src="{{ static_url }}/img/github_logo.png" width="25" height="25" />
            </svg>
          </a></li>
        </ul>
      </nav>
    </header>

    <section id="content">

      {% block content %}
      {{ content|safe }}
      {% endblock %}

    </section>
  </body>
</html>
