<!Doctype html>
<html>
  <head>

    <title>{{ title }} - Marie-Pierre Dubé Laboratory</title>

    <script type="text/javascript" src="{{ static_url }}/js/require.js"></script>
    <link rel="stylesheet" href="{{ static_url }}/css/styles.css" />
    <meta charset="UTF-8">

  </head>
  <body>
    <header id="header">
      <div>
        <img src="{{ static_url }}/img/mp.jpg" alt="Picture of Dr Dubé" />
        <h1>Marie-Pierre Dubé Laboratory</h1>
        <p>Statistical genetics, bioinformatics and pharmacogenomics at the MHI</p>
        <nav>
          <ul>
            {% for nav in navigation %}
            <li><a href="{{ nav.url }}">{{ nav.title.en if language == "en" else nav.title.fr }}</a></li>
            {% endfor %}
            <li><a href="">Github</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <section id="content">

      {% block content %}
      {{ content|safe }}
      {% endblock %}

    </section>
  </body>
</html>
